@import 'open-props/style';
@import 'open-props/colors-hsl';
@import 'open-props/normalize';
@import 'open-props/buttons';

html {

	--width-full: 100vw;
	--width-medium: 48rem;
	--width-narrow: 30rem;

	/* dark */
	--accent-dark: var(--jungle-5);
	--text-primary-dark: var(--gray-3);
	--text-secondary-dark: var(--gray-5);
	--surface-dark: var(--gray-11);
	--surface-accent-dark: hsl(var(--lime-5-hsl) / 20%);
	--text-accent-dark: var(--lime-4);
	--surface-primary-dark: var(--gray-12);
	--surface-secondary-dark: var(--gray-11);
	--border-dark: var(--gray-9);
	--bg-blur-dark: hsl(var(--gray-12-hsl) / 5%);

	/* light */
	--accent-light: var(--jungle-8);
	--text-primary-light: var(--gray-8);
	--text-secondary-light: var(--gray-6);
	--surface-light: var(--gray-0);
	--surface-accent-light: hsl(var(--lime-3-hsl) / 20%);
	--text-accent-light: var(--lime-8);
	--surface-primary-light: var(--gray-1);
	--surface-secondary-light: var(--gray-2);
	--border-light: var(--gray-4);
	--bg-blur-light: hsl(var(--gray-1-hsl) / 5%);
}

:root {
	color-scheme: dark;

	--accent: var(--accent-dark);
	--text-primary: var(--text-primary-dark);
	--text-secondary: var(--text-secondary-dark);
	--surface: var(--surface-dark);
	--surface-accent: var(--surface-accent-dark);
	--text-accent: var(--text-accent-dark);
	--surface-primary: var(--surface-primary-dark);
	--surface-secondary: var(--surface-secondary-dark);
	--border: var(--border-dark);
	--bg-blur: var(--bg-blur-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--accent: var(--accent-light);
		--text-primary: var(--text-primary-light);
		--text-secondary: var(--text-secondary-light);
		--surface: var(--surface-light);
		--surface-accent: var(--surface-accent-light);
		--text-accent: var(--text-accent-light);
		--surface-primary: var(--surface-primary-light);
		--surface-secondary: var(--surface-secondary-light);
		--border: var(--border-light);
		--bg-blur: var(--bg-blur-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--accent: var(--accent-dark);
	--text-primary: var(--text-primary-dark);
	--text-secondary: var(--text-secondary-dark);
	--surface: var(--surface-dark);
	--surface-accent: var(--surface-accent-dark);
	--text-accent: var(--text-accent-dark);
	--surface-primary: var(--surface-primary-dark);
	--surface-secondary: var(--surface-secondary-dark);
	--border: var(--border-dark);
	--bg-blur: var(--bg-blur-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--accent: var(--accent-light);
	--text-primary: var(--text-primary-light);
	--text-secondary: var(--text-secondary-light);
	--surface: var(--surface-light);
	--surface-accent: var(--surface-accent-light);
	--text-accent: var(--text-accent-light);
	--surface-primary: var(--surface-primary-light);
	--surface-secondary: var(--surface-secondary-light);
	--border: var(--border-light);
	--bg-blur: var(--bg-blur-light);
}



html {
	color: var(--text-primary);
	accent-color: var(--accent);
	background-attachment: fixed;
	background-color: var(--surface);
}

body {
	height: 100svh;
	font-family: var(--font-classical-humanist);
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--accent);
}

a:visted {
	color: inherit;
}

:where(svg:not([width])) {
	inline-size: var(--size-5);
	stroke-width: 2px;
}

.handdrawn__button {
	border: var(--accent) 1px solid;
	border-radius: var(--radius-drawn-1);
	background: transparent;
}

.icon-tabler {
	display: inline-block;
	fill: none;
	stroke: var(--text-secondary);
	stroke-width: 2px;
	stroke-linecap: round;
	height: var(--size-5);
	width: var(--size-5);

	&:hover {
		stroke: var(--accent);
		fill: transparent;
		transform: rotate(15deg);
	}
}

.glass-effect {
	background-color: var(--bg-blur);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.glass-effect {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: var(--bg-blur);
	}
}

.link__button {
	border: none;
	box-shadow: none;
	background-color: transparent;
	text-shadow: none;
}

li {
	padding-inline-start: 0;
}

.surface {
	background-color: var(--surface);
	color: var(--text-secondary);
}

.surface-primary {
	background-color: var(--surface-primary);
	color: var(--text-secondary);
}

.surface-scondary {
	background-color: var(--surface-secondary);
	color: var(--text-primary);
}


.prose {
	p {
		/* font-size: var(--size-3); */

		:not(:is(h2, h3, h4, h5, h6) + p) {
			margin-top: var(--size-7);
		}

		margin-block: var(--size-4);

		/* ignore paragraph tag around images */
		&:has(img) {
			display: contents;
		}
	}

	:is(h2, h3, h4, h5, h6) {
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
	}

	:is(details, summary) {
		background-color: var(--surface-primary);

		ul {
			font-size: var(--size-3);
		}
	}




	:is(ul, ol) {
		list-style-type: '○';
		padding-left: var(--size-5);
	}

	:is(ul, ol) li {
		margin-block: var(--size-2);
		padding-inline-start: var(--size-2);
	}

	pre {
		max-inline-size: 100%;
		padding: var(--size-3);
		border-radius: 8px;
		tab-size: 2;
		white-space: pre-wrap;
		word-wrap: break-word;
		margin-bottom: var(--size-4);

		.copy-code {
			position: absolute;
			top: -0.75rem;
			right: 0.75rem;
			padding: var(--size-1) var(--size-2);
			border-radius: var(--radius-2);
			background-color: var(--surface-2);
			box-shadow: none;
			color: var(--text-2);
			cursor: pointer;
			font-size: 0.75rem;
		}
	}

	a {
		background: linear-gradient(0deg, var(--accent), var(--accent)) no-repeat right bottom / 0 var(--size-1);
		transition: background-size 350ms;
		padding-bottom: var(--size-1);
		color: var(--accent);
	}

	a:where(:hover, :focus-visible) {
		background-size: 100% var(--size-1);
		background-position-x: left;
		color: var(--text-secondary);
	}
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}